{% macro quote(x) %}
    {{ x }}
{% endmacro %}

{% macro star(from,except=[], prefix='', suffix='', quote_identifiers=False) -%}
    {% set cols = __get_filtered_columns_in_relation__(from, except) %}
        {%- for col in cols %}
                {%- if quote_identifiers -%}
                    {{ adapter.quote(col)|trim }} {%- if prefix!='' or suffix!='' %} as {{ quote(prefix ~ col ~ suffix)|trim }} {%- endif -%}
                {%- else -%}
                    {{ col|trim }} {%- if prefix!='' or suffix!='' %} as {{ (prefix ~ col ~ suffix)|trim }} {%- endif -%}
                {% endif %}
            {%- if not loop.last %},{{ '\n  ' }}{%- endif -%}
        {%- endfor -%}
{%- endmacro %}
